BODY {
	margin:0;
   	font-family: "Lucida Sans", sans-serif;
}

#page {
	min-height:100vh; /* 1 */
	display:flex; /* 2 */
	flex-direction:column; /* 3 */
}

#content {
	flex-grow:1; /* 4 */
	background-color: #fff;
	text-align:center;

}

#header {
	width:100%;
	background-color:orange;
 }

#footer {
  	width:100%;
	background-color:orange;
	text-align:center;
}

/* Elements a appliquer aux styles PARTS */

.center {
    text-align: center;
}

.clickable {
	cursor: pointer;
}

.disable_click {
    cursor: not-allowed;
}

.right {
	text-align: right;
	margin-right: 0.5em;
}

.left {
	text-align: left;
	margin-left: 0.5em;
}

.invisible {
	visibility: hidden;
}

.active{
	text-decoration: underline;
}

.visible {
	visibility: visible;
}

.disabled {
	pointer-events: none;
	cursor: default;
	text-decoration: none;
	color: gray;
  }

.orange {
	background-color:orange !important;
}

.icone {
	height:40px;
	width:auto;
}

.select{
	border-style:solid;
	border-width:2px;
	border-color:blue;
}

.success{
	width:80%;
	font-size:1em;
	border-style:solid;
	border-width:2px;
	background-color:#bae7b7;
	color:green;
}

.erreur{
	width:80%;
	font-size:1em;
	border-style:solid;
	border-width:2px;
	background-color:#f5c1ba;
	color:red;
}

/* Titres */

H1 {
	margin:2px;
	color:white;
	font-size:2.5em;
}

/* Liens */

a {
	text-decoration:none;
	color:#c68000;
}

.menu {
	background-color: #c2810b; 
	border: none;
	color: white;
	padding: 1em 1.2em;
	text-align: center;
	border-radius:0px;
	text-decoration: none;
	font-size: 1em;
	margin:none;
}

.menu:hover{
	background-color:orange;
}

/* Bouttons */

button {
	background-color: #4CAF50; /* Green */
	border: none;
	color: white;
	padding: 1em 1.2em;
	text-align: center;
	text-decoration: none;
	font-size: 1em;
	/*margin-bottom:5px;*/
}

button:hover {
	background-color: gray;
}

.submit_button {
	/*width: 320px;*/
	padding-left:2.5em;
	padding-right:2.5em;
    height: 42px;
    line-height: 42px;
    text-align: center;
    margin: 20px auto 20px;
    border: none;
    clear: both;
    color: #fff;
    background-color: orange;
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    border-radius: 0;
    cursor: pointer;
    font-family: Lato;
    display: block;
    text-decoration: none;
    font-size: 1em;
}

/* Text */

.text {
	font-size: 1em;
}

.big-text {
	font-size: 1.2em;
}

.small-text {
	font-size: 0.8em;
}

/*Images */
.icone {
    height: 5em;
    width: auto;
}

.miniature-photo {
    height: 5em;
    width: auto;
}

.image_filtre {
	height:40px;
	width:auto;
	border-style: solid;
    border-width: 1px;
	border-color: black;
}

.image_filtre_selection {
	height:40px;
	width:auto;
	border-style: solid;
    border-width: 2px;
	border-color: green;
}

/* Liste */

.liste_filtre {
    list-style-type: none;
    padding: 0 0 0 20px;
}

.pagination_nav {
    display: flex;
    justify-content: center;
}
        
.pagination {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}
        
.pagination li {
    margin: 0 1px;
}

.page-item {
	font-size:2em;
}

.icone-pagination {
	height:30px;
    width:auto;
}


/* Blocs */

#video {
	height: 0px;
}
/*	width: 352px;
	height: 288px; */

.galerie_photo {
	width: 352px;
	display:inline-block;
	/*height: 288px;*/
	padding: 5px;
	background-color: white;
    margin: 5px;
}

.galerie {
	max-width:1200px;
	background-color:gray;
	margin:auto;
	padding-top: 10px;
	padding-bottom: 10px;
}

.footer_photo {
	width:100%;
	text-align:left;
}

.f_p_login {	
	font-size: 20px;
	float:left;
	margin-right:20px;
	margin-left:10px;
}

.f_p_like {
	float: right;
	font-size: 18px;
	margin-right:0px;
	margin-left:10px;
}

.f_p_nb_like{
	display: inline;
}

.f_p_com{
	font-size: 18px;
	margin-right:0px;
	float: right;
}

.photo_icones{
	height:20px;
	width:auto;

}

.block-form {
	background-color: #f9efdd;
	margin: 1em 1em 0 1em;
	display: inline-grid;
	border-radius: 0px;
	border-style: solid;
	border-color:orange;
	border-width:1px;
	padding: 0em 1em 1.5em 1em;
}

table {background:#f9efdd; 
	border:0; 
	border-collapse:separate; 
	border-spacing:0 5px;}

thead td {border-bottom: 4px solid gray; 
	border-collapse:separate; 
	border-spacing:5px 5px;
	background-color:#ffa5001c;
} 
  
tbody { 
	border-collapse:separate;
	border-spacing:5px 5px;}

.main_montage{
	text-align: center;
}

.mid_montage {
	width:55%;
	padding-left:3em;
	min-width: 400px;
	padding-top:10px;
	vertical-align: top;
}

.left_montage{
	vertical-align: top;
	height: 300px;
	white-space: nowrap;
	overflow-y:scroll;
	overflow-x:hidden;
}

