<!-- Meta tags -->
	<meta charset="utf-8"/>
	<meta name="author" content="ALBANESE Morgane"/>
	<meta name="description" content="Camagru est un site de montage photo en ligne."/>
	<meta name="keywords" content="camagru montage photos"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- Icon integration -->
	<link rel="icon" type="image/png" href="../../ressources/images/icon/42_logo_black.png">

<!-- Font and css includes -->
	<LINK rel="stylesheet" href="../../ressources/css/main.css" />
<!-- title -->
	<TITLE> Camagru </TITLE>
